/*
 * JAMS REST API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * API version: V6
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package swagger

import (
	"context"
	"fmt"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"time"

	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type DateAPI service

/*
DateAPI Evaluate a natural language date and return the date that it identifies.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param date The natural language date specification.
 * @param optional nil or *DateApiDateGetEvaluateDateOpts - Optional Parameters:
     * @param "Today" (optional.Time) -  The date that should be considered \&quot;today\&quot; when evaluating              the date specification.
     * @param "StartDate" (optional.Time) -  The starting date to be used for interval specification (i.e. every other monday)

@return time.Time
*/

type DateApiDateGetEvaluateDateOpts struct {
	Today     optional.Time
	StartDate optional.Time
}

func (a *DateAPI) EvaluateDate(ctx context.Context, date string, localVarOptionals *DateApiDateGetEvaluateDateOpts) (time.Time, *http.Response, error) {
	var localVarReturnValue time.Time

	// create path and map variables
	apiPath := a.client.cfg.BasePath + "/api/date/evaluate"

	headers := make(map[string]string)
	queryParams := url.Values{}

	queryParams.Add("date", parameterToString(date, ""))
	if localVarOptionals != nil && localVarOptionals.Today.IsSet() {
		queryParams.Add("today", parameterToString(localVarOptionals.Today.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.StartDate.IsSet() {
		queryParams.Add("startDate", parameterToString(localVarOptionals.StartDate.Value(), ""))
	}
	headers["Content-Type"] = "application/json"
	headers["Accept"] = "application/json"

	r, err := a.client.prepareRequest(ctx, apiPath, "GET", nil, headers, queryParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	response, err := a.client.callAPI(r)
	if err != nil || response == nil {
		return localVarReturnValue, response, err
	}

	localVarBody, err := ioutil.ReadAll(response.Body)
	response.Body.Close()
	if err != nil {
		return localVarReturnValue, response, err
	}

	if response.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, response.Header.Get("Content-Type"))
		return localVarReturnValue, response, err
	}

	if response.StatusCode >= 300 {
		newErr := Error{
			Body: localVarBody,
			Err:  response.Status,
		}

		if response.StatusCode == 200 {
			var v time.Time
			err = a.client.decode(&v, localVarBody, response.Header.Get("Content-Type"))
			if err != nil {
				newErr.Err = err.Error()
				return localVarReturnValue, response, newErr
			}
			newErr.Model = v
			return localVarReturnValue, response, newErr
		}

		return localVarReturnValue, response, newErr
	}

	return localVarReturnValue, response, nil
}

/*
DateAPI Adds a date to an existing DateType or creates a new DateType if it doesn't exist.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param dateTypeName The name of the DateType to add the date to.
 * @param date The date to add.

@return Object
*/
func (a *DateAPI) UpdateDate(ctx context.Context, dateTypeName string, date time.Time) (Object, *http.Response, error) {
	var localVarReturnValue Object

	// create path and map variables
	apiPath := a.client.cfg.BasePath + "/api/date/{dateTypeName}/{date}"
	apiPath = strings.Replace(apiPath, "{"+"dateTypeName"+"}", fmt.Sprintf("%v", dateTypeName), -1)
	apiPath = strings.Replace(apiPath, "{"+"date"+"}", fmt.Sprintf("%v", date), -1)

	headers := make(map[string]string)
	queryParams := url.Values{}

	headers["Content-Type"] = "application/json"
	headers["Accept"] = "application/json"

	r, err := a.client.prepareRequest(ctx, apiPath, "PUT", nil, headers, queryParams)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	response, err := a.client.callAPI(r)
	if err != nil || response == nil {
		return localVarReturnValue, response, err
	}

	localVarBody, err := ioutil.ReadAll(response.Body)
	response.Body.Close()
	if err != nil {
		return localVarReturnValue, response, err
	}

	if response.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, response.Header.Get("Content-Type"))
		return localVarReturnValue, response, err
	}

	if response.StatusCode >= 300 {
		newErr := Error{
			Body: localVarBody,
			Err:  response.Status,
		}

		if response.StatusCode == 200 {
			var v Object
			err = a.client.decode(&v, localVarBody, response.Header.Get("Content-Type"))
			if err != nil {
				newErr.Err = err.Error()
				return localVarReturnValue, response, newErr
			}
			newErr.Model = v
			return localVarReturnValue, response, newErr
		}

		return localVarReturnValue, response, newErr
	}

	return localVarReturnValue, response, nil
}
