/*
 * JAMS REST API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * API version: V6
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package jams

import (
	"context"
	"errors"
	"io/ioutil"
	"net/url"
)

// Linger please
var (
	_ context.Context
)

/*
UserInfo Provides information about the authenticated user
 *

returns Authentication
*/
func (client *APIClient) UserInfo(ctx context.Context) (Authentication, error) {
	if client.auth == nil {
		return Authentication{}, errors.New("missing login information")
	}
	var returnValue Authentication

	// create path and map variables
	apiPath := client.cfg.BasePath + "/api/authentication"

	headers := make(map[string]string)
	headers["Content-Type"] = "application/json"
	headers["Accept"] = "application/json"

	r, err := client.buildRequest(apiPath, "GET", nil, headers, url.Values{})
	if err != nil {
		return returnValue, err
	}

	response, err := client.Call(ctx, r)
	if err != nil || response == nil {
		return returnValue, err
	}

	body, err := ioutil.ReadAll(response.Body)
	response.Body.Close()
	if err != nil {
		return returnValue, err
	}

	if response.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = client.decode(&returnValue, body, response.Header.Get("Content-Type"))
		return returnValue, err
	}

	if response.StatusCode >= 300 {
		newErr := Error{
			Body: body,
			Err:  response.Status,
		}

		if response.StatusCode == 200 {
			var v Authentication
			err = client.decode(&v, body, response.Header.Get("Content-Type"))
			if err != nil {
				newErr.Err = err.Error()
				return returnValue, newErr
			}
			newErr.Model = v
			return returnValue, newErr
		}

		return returnValue, newErr
	}

	return returnValue, nil
}

/*
Login to the web server, it will automatically save the access token to the client to be used on future requests.

 * @param loginData The login credentials


*/
func (client *APIClient) Login(ctx context.Context, loginData LoginData) (AccessToken, error) {
	var returnValue AccessToken

	// create path and map variables
	apiPath := client.cfg.BasePath + "/api/authentication/login"

	headers := make(map[string]string)
	headers["Content-Type"] = "application/json"
	headers["Accept"] = "application/json"

	r, err := client.buildRequest(apiPath, "POST", &loginData, headers, url.Values{})
	if err != nil {
		return err
	}

	response, err := client.Call(ctx, r)
	if err != nil || response == nil {
		return err
	}

	body, err := ioutil.ReadAll(response.Body)
	response.Body.Close()
	if err != nil {
		return err
	}

	if response.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = client.decode(&returnValue, body, response.Header.Get("Content-Type"))
		if err == nil {
			client.auth = &returnValue
		}
		return err
	}

	if response.StatusCode >= 300 {
		newErr := Error{
			Body: body,
			Err:  response.Status,
		}

		if response.StatusCode == 200 {
			var v AccessToken
			err = client.decode(&v, body, response.Header.Get("Content-Type"))
			if err != nil {
				newErr.Err = err.Error()
				return newErr
			}
			newErr.Model = v
			return newErr
		}

		return newErr
	}

	return nil
}
